<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

# Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

# Exercise 10 - Insert a markdown cell to list Objectives

# Objective:
* R
* Python
* SQL
* Java
* Scala

# Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Pyhton
2. R
3. SQL
4. Java
5. Java Script
6. Scala
7. C++
8. Julia

# Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. SciKit-Learn
6. MySQL
7. PyTorch
8. dplyr
9. ggplot

# Exercise 6 - Create a markdown cell with a table of Data Science tools

Data Science Tools:
|Data Science Tools|
|------------------|
|Apache Hadoop|
|Apache Spark|
|TensorFlow|
|MongoDB|

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python
1. Addition
2. Sunstraction
3. Multiply
4. Division

In [10]:
# addition
a = 100
b = 60
print(str(a+b))

160

In [11]:
# Substraction
a = 100
b = 60
print(str(a-b))

40

In [12]:
# Multiply
a = 100
b = 60
print(str(a*b))

6000

In [13]:
# Dividion
a = 100
b = 60
print(str(a/b))

1.6666666666666667

# Exercise 8 - Create a code cell to multiply and add numbers

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

# Exercise 9 - Create a code cell to convert minutes to hours

In [6]:
# This will convert 200 minutes to hours by diving by 60
minus = 200
hours = minus/60
print(str(hours))

3.3333333333333335

# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author 
Ankush Chaudhary